
ul.dynatree-container {
    background-color: #FFFFFF;
    font-family: tahoma,arial,helvetica;
    font-size: 10pt;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 3px;
    white-space: nowrap;
}
ul.dynatree-container ul {
    margin: 0;
    padding: 0 0 0 16px;
}
ul.dynatree-container li {
    -moz-background-inline-policy: continuous;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("vline.gif");
    background-position: 0 0;
    background-repeat: repeat-y;
    line-height: 16px;
    list-style: none outside none;
    margin: 0;
    padding: 1px 0 0;
}
ul.dynatree-container li.dynatree-lastsib {
    background-image: none;
}
ul.dynatree-no-connector > li {
    background-image: none;
}
.ui-dynatree-disabled ul.dynatree-container {
    background-color: #C0C0C0;
    opacity: 0.5;
}
span.dynatree-empty, span.dynatree-vline, span.dynatree-connector, span.dynatree-expander, span.dynatree-icon, span.dynatree-checkbox, span.dynatree-radio, span.dynatree-drag-helper-img, #dynatree-drop-marker {
    background-image: url("icons.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    vertical-align: top;
    width: 16px;
}
ul.dynatree-container img {
    border-style: none;
    height: 16px;
    margin-left: 3px;
    vertical-align: top;
    width: 16px;
}
span.dynatree-connector {
    background-position: -16px -64px;
}
span.dynatree-expander {
    background-position: 0 -80px;
    cursor: pointer;
}
.dynatree-exp-cl span.dynatree-expander {
    background-position: 0 -96px;
}
.dynatree-exp-cd span.dynatree-expander {
    background-position: -64px -80px;
}
.dynatree-exp-cdl span.dynatree-expander {
    background-position: -64px -96px;
}
.dynatree-exp-e span.dynatree-expander, .dynatree-exp-ed span.dynatree-expander {
    background-position: -32px -80px;
}
.dynatree-exp-el span.dynatree-expander, .dynatree-exp-edl span.dynatree-expander {
    background-position: -32px -96px;
}
.dynatree-loading span.dynatree-expander {
    background-image: url("loading.gif");
    background-position: 0 0;
}
span.dynatree-checkbox {
    background-position: 0 -32px;
    margin-left: 3px;
}
span.dynatree-checkbox:hover {
    background-position: -16px -32px;
}
.dynatree-partsel span.dynatree-checkbox {
    background-position: -64px -32px;
}
.dynatree-partsel span.dynatree-checkbox:hover {
    background-position: -80px -32px;
}
.dynatree-selected span.dynatree-checkbox {
    background-position: -32px -32px;
}
.dynatree-selected span.dynatree-checkbox:hover {
    background-position: -48px -32px;
}
span.dynatree-radio {
    background-position: 0 -48px;
    margin-left: 3px;
}
span.dynatree-radio:hover {
    background-position: -16px -48px;
}
.dynatree-partsel span.dynatree-radio {
    background-position: -64px -48px;
}
.dynatree-partsel span.dynatree-radio:hover {
    background-position: -80px -48px;
}
.dynatree-selected span.dynatree-radio {
    background-position: -32px -48px;
}
.dynatree-selected span.dynatree-radio:hover {
    background-position: -48px -48px;
}
span.dynatree-icon {
    background-position: 0 0;
    margin-left: 3px;
}
.dynatree-ico-cf span.dynatree-icon {
    background-position: 0 -16px;
}
.dynatree-ico-ef span.dynatree-icon {
    background-position: -64px -16px;
}
.dynatree-statusnode-wait span.dynatree-icon {
    background-image: url("loading.gif");
}
.dynatree-statusnode-error span.dynatree-icon {
    background-position: 0 -112px;
}
span.dynatree-node {
}
ul.dynatree-container a {
    color: #000000;
    margin: 0 0 0 3px;
    text-decoration: none;
    vertical-align: top;
}
ul.dynatree-container a:hover {
    background-color: #F2F7FD;
    border-color: #B8D6FB;
}
span.dynatree-node a {
    display: inline-block;
    font-size: 10pt;
    line-height: 16px;
    outline: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
span.dynatree-folder a {
    font-weight: bold;
}
span.dynatree-has-children a {
}
span.dynatree-expanded a {
}
span.dynatree-selected a {
    color: #008000;
    font-style: italic;
}
span.dynatree-active a {
    background-color: #3169C6 !important;
    color: #FFFFFF !important;
}
div.dynatree-drag-helper {
}
div.dynatree-drag-helper a {
    background-color: #FFFFFF;
    border: 1px solid #808080;
    opacity: 0.8;
    padding-left: 5px;
    padding-right: 5px;
}
span.dynatree-drag-helper-img {
}
div.dynatree-drag-helper {
}
div.dynatree-drop-accept span.dynatree-drag-helper-img {
    background-position: -32px -112px;
}
div.dynatree-drag-helper.dynatree-drop-reject {
    border-color: #FF0000;
}
div.dynatree-drop-reject span.dynatree-drag-helper-img {
    background-position: -16px -112px;
}
#dynatree-drop-marker {
    background-position: 0 -128px;
    margin: 0;
    position: absolute;
    width: 24px;
}
#dynatree-drop-marker.dynatree-drop-after, #dynatree-drop-marker.dynatree-drop-before {
    background-position: 0 -144px;
    width: 64px;
}
#dynatree-drop-marker.dynatree-drop-copy {
    background-position: -64px -128px;
}
#dynatree-drop-marker.dynatree-drop-move {
    background-position: -64px -128px;
}
span.dynatree-drag-source {
    background-color: #E0E0E0;
}
span.dynatree-drag-source a {
    color: #808080;
}
span.dynatree-drop-target {
}
span.dynatree-drop-target a {
}
span.dynatree-drop-target.dynatree-drop-accept a {
    background-color: #3169C6 !important;
    color: #FFFFFF !important;
    text-decoration: none;
}
span.dynatree-drop-target.dynatree-drop-reject {
}
span.dynatree-drop-target.dynatree-drop-after a {
}
span.custom1 a {
    background-color: #800000;
    color: #FFFF00;
}
