.btn-info {
    background-color: #5BC0DE;
    border-color: #46B8DA;
    color: #FFFFFF;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #39B3D7;
    border-color: #269ABC;
    color: #FFFFFF;
}
.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active {
    background-color: #5BC0DE;
    border-color: #46B8DA;
}

.btn {
    -moz-user-select: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 0px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
}
.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

a,button,input {outline:none !important}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}

.btn-default {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #333333;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}

.btn-default .caret {
    border-top-color: #333333;
}




.button {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    background-color: #f7f7f7;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7),
    to(#f2f2f2));
    background: -moz-gradient(linear, 0 0, 0 100%, from(#f7f7f7),
    to(#f2f2f2));
    background: -o-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#f2f2f2));
    background: -ms-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#f2f2f2));
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f7f7f7,
    endcolorstr=#f2f2f2, gradientType=0);
    height: 28px;
    padding: 0 20px;
    cursor: pointer;
    line-height: 28px;
    display: inline-block;
    color: #666666;
    margin-right:5px;

}
.blueButton {
    border: 1px solid #2f9df9;
    border-radius: 3px;
    background-color: #39befb;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#39befb),
    to(#2091fc));
    background: -moz-gradient(linear, 0 0, 0 100%, from(#39befb),
    to(#2091fc));
    background: -o-gradient(linear, 0 0, 0 100%, from(#39befb), to(#2091fc));
    background: -ms-gradient(linear, 0 0, 0 100%, from(#39befb), to(#2091fc));
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#39befb,
    endcolorstr=#2091fc, gradientType=0);
    color: #FFFFFF;
}

.blueButton:hover {
    border: 1px solid #2091fc;
    background-color: #6ecdff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6ecdff),
    to(#2091fc));
    background: -moz-gradient(linear, 0 0, 0 100%, from(#6ecdff),
    to(#2091fc));
    background: -o-gradient(linear, 0 0, 0 100%, from(#6ecdff), to(#2091fc));
    background: -ms-gradient(linear, 0 0, 0 100%, from(#6ecdff), to(#2091fc));
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6ecdff,
    endcolorstr=#2091fc, gradientType=0);
    color: #FFFFFF;
}

.blueButton:active {
    border: 1px solid #2091fc;
    background-color: #2091fc;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2091fc),
    to(#6ecdff));
    background: -moz-gradient(linear, 0 0, 0 100%, from(#2091fc),
    to(#6ecdff));
    background: -o-gradient(linear, 0 0, 0 100%, from(#2091fc), to(#6ecdff));
    background: -ms-gradient(linear, 0 0, 0 100%, from(#2091fc), to(#6ecdff));
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2091fc,
    endcolorstr=#6ecdff, gradientType=0);
    color: #FFFFFF;
}