html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a {
    color: #006699;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.bodygrey {
    background: url("../images/leftbg.png") repeat-y scroll left top #FFFFFF;
}
.header{
    min-width: 980px;
    border: solid #F06D65 1px;
}
.header {
    background: #2B8DB7;
    padding: 20px 10px 11px;
    position: relative;
}
.header {
    border-bottom: 3px solid #2B8DB7;
    border-top: 1px solid #2B8DB7;
}

.topheader > ul {
    left: 458px;
    list-style: none outside none;
    position: absolute;
    top: 10px;
}
.topheader > ul > li {
    display: inline-block;
    float: left;
    line-height: 14px;
    margin-right: 8px;
    position: relative;
}

.topheader > ul > li > a {
    color: #FFFFFF;
    font-size: 11px;
    padding-right: 4px;
    position: relative;
}
.topheader > ul > li > a {
    background: url("../images/headbutton.png") no-repeat scroll right -29px rgba(0, 0, 0, 0);
    display: inline-block;
}
.topheader > ul > li > a .wrap {
    background: url("../images/headbutton.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 15px;
    padding: 7px 11px 7px 26px;
}

.topheader > ul > li > a .wrap span.count {
    display: block;
    font-size: 10px;
    padding: 1px 5px 0;
    position: absolute;
    right: -3px;
    top: -3px;
}
.topheader > ul > li > a .wrap span.count {
    background: none repeat scroll 0 0 #CC0000;
    border-radius: 3px;
    color: #FFFFFF;
}
.topheader > ul > li > a:hover {
    background-position: right -88px;
    text-decoration: none;
}
.topheader > ul > li > a:hover .wrap {
    background-position: 0 -59px;
}
.topheader > ul > li.note a .wrap {
    padding-right: 0;
}
.tabmenu {
    left: 219px;
    line-height: 21px;
    position: absolute;
    top: 53px;
}

.tabmenu ul {
    list-style: none outside none;
}
.tabmenu ul li {
    background: url("../images/tabmenubg.png") repeat-x scroll left top #4B6592;
    display: inline-block;
    float: left;
    position: relative;
}
.tabmenu ul li:first-child {
    border-radius: 3px 0 0;
}
.tabmenu ul li:last-child {
    border-radius: 0 3px 0 0;
}
.tabmenu ul li a {
    background: url("../images/separator.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
}
.tabmenu ul li a:hover {
    text-decoration: none;
}
.tabmenu ul li:last-child a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.tabmenu ul li:hover {
    background: url("../images/tabmenubg.png") repeat-x scroll 0 -68px #37507F;
}
.tabmenu ul li a span {
    display: block;
    font-size: 12px;
    padding: 9px 15px 9px 40px;
    text-shadow: 1px 1px #224E82;
    text-transform: uppercase;
}
.tabmenu ul li.current {
    background: none repeat scroll 0 0 #EEEEEE;
    text-shadow: 1px 1px #FFFFFF;
}
.tabmenu ul li.current a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333333;
}
.tabmenu ul li.current a span {
    text-shadow: 1px 1px #FCFCFC;
}
.tabmenu ul li a.dashboard span {
    background: url("../images/icons/dashboard.png") no-repeat scroll 15px 12px rgba(0, 0, 0, 0);
}
.tabmenu ul li.current a.dashboard span {
    background: url("../images/icons/dashboard.png") no-repeat scroll 15px -57px rgba(0, 0, 0, 0);
}
.tabmenu ul li a.elements span {
    background: url("../images/icons/elements.png") no-repeat scroll 15px 12px rgba(0, 0, 0, 0);
}
.tabmenu ul li.current a.elements span {
    background: url("../images/icons/elements.png") no-repeat scroll 15px -57px rgba(0, 0, 0, 0);
}
.tabmenu ul li a.reports span {
    background: url("../images/icons/reports.png") no-repeat scroll 15px 12px rgba(0, 0, 0, 0);
}
.tabmenu ul li.current a.reports span {
    background: url("../images/icons/reports.png") no-repeat scroll 15px -57px rgba(0, 0, 0, 0);
}
.tabmenu ul li a.users span {
    background: url("../images/icons/users.png") no-repeat scroll 15px 14px rgba(0, 0, 0, 0);
}
.tabmenu ul li.current a.users span {
    background: url("../images/icons/users.png") no-repeat scroll 15px -59px rgba(0, 0, 0, 0);
}
.tabmenu ul li .subnav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #6785B0 #6785B0 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    display: none;
    left: 0;
    min-width: 200px;
    position: absolute;
    top: 39px;
    z-index: 100;
}
.tabmenu ul li .subnav li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: none;
}
.tabmenu ul li .subnav li a {
    background: none repeat scroll 0 0 #83A3CA;
    border-bottom: 1px solid #6785B0;
    color: #FFFFFF;
    display: block;
}
.tabmenu ul li .subnav li:last-child a {
    background: none repeat scroll 0 0 #83A3CA;
}
.tabmenu ul li .subnav li a:hover {
    background: none repeat scroll 0 0 #7293C1;
    color: #FFFFFF;
}
.tabmenu ul li .subnav a span {
    padding: 5px 15px;
    text-shadow: 1px 1px #6785B0;
    text-transform: capitalize;
}
.tabmenu ul li.current .subnav {
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-top: 0 none;
}
.tabmenu ul li.current .subnav li a {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
}
.tabmenu ul li.current .subnav li a:hover {
    background: none repeat scroll 0 0 #C8D9ED;
}
.tabmenu ul li.current .subnav li a span {
    text-shadow: 1px 1px #F7F7F7;
}

.accountinfo {
    background: url("../images/blacktrans.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 6px;
}
.accountinfo {
    border-radius: 3px;
}
.accountinfo img {
    float: left;
}
.accountinfo .info {
    float: left;
    margin-left: 10px;
}
.accountinfo h3 {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
}
.accountinfo small {
    color: #999999;
    font-size: 11px;
}
.accountinfo p {
    margin-top: 5px;
}
.accountinfo p a {
    color: #BBD0E8;
    display: inline-block;
    font-size: 11px;
}
.accountinfo p a:hover {
    text-decoration: underline;
}
.accountinfo p a:first-child {
    border-right: 1px solid #666666;
    margin-right: 5px;
    padding-right: 7px;
}


.sidebar {
    display: block;
    float: left;
    padding: 20px 0;
    width: 220px;

}

#accordion h3 {
    background: url("../images/arrow.png") no-repeat scroll 10px 6px rgba(0, 0, 0, 0);
    padding-left: 30px;
}

#accordion h3 {
    color: #333333;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}

#accordion h3.open {
    background: url("../images/arrow.png") no-repeat scroll 10px -37px rgba(0, 0, 0, 0);
}
#accordion .content {
    display: none;
    margin: 10px 0 20px;
}
#accordion .content:last-child {
    color: #333333;
    padding: 0 15px;
}
.leftmenu {
    list-style: none outside none;
}

.leftmenu li {
    display: block;
    margin-bottom: 1px;
}
.leftmenu li a {
    color: #333333;
    display: block;
    font-size: 12px;
    padding: 5px 0 5px 40px;
}
.leftmenu li a:hover {
}
.leftmenu li.current a {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F7F7F7;
    border-right: 0 none;
    border-top: 1px solid #F7F7F7;
    color: #333333;
}
.leftmenu li.current a:hover {
    text-decoration: none;
}
.leftmenu li a.form {
    background-image: url("../images/icons/form.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.table {
    background-image: url("../images/icons/table.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.gallery {
    background-image: url("../images/icons/gallery.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.home {
    background-image: url("../images/icons/home.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.grid {
    background-image: url("../images/icons/grid.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.calendar {
    background-image: url("../images/icons/cal.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.buttons {
    background-image: url("../images/icons/buttons.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.editor {
    background-image: url("../images/icons/editor.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.file {
    background-image: url("../images/icons/file.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}
.leftmenu li a.error {
    background-image: url("../images/icons/404.png");
    background-position: 15px center;
    background-repeat: no-repeat;
}

.maincontent {
    color: #333333;
    margin-left: 220px;
    min-width: 1028px;
    position: relative;
}
.maincontent .left {
    overflow: hidden;
    padding: 20px 15px;
}

.breadcrumbs {
    border: 1px solid #DDDDDD;
    font-size: 11px;
    margin: 20px 15px 0;
    padding: 0 15px 0 30px;
}
.breadcrumbs {
    background: url("../images/icons/homesmall.png") no-repeat scroll 10px 9px #F7F7F7;
    border-radius: 2px;
}
.breadcrumbs {
}
.breadcrumbs a {
    color: #006699;
    display: inline-block;
    padding: 5px 20px 5px 0;
}
.breadcrumbs a {
    background: url("../images/separator2.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    margin-right: 10px;
}
.breadcrumbs a:hover {
    text-decoration: none;
}
.breadcrumbs span {
    color: #666666;
}
