html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    background-color: #ffffff;
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.2)
}
a {
    color: #369bd7;
    text-decoration: none;
}
.navbar{
    *position: relative;
    *z-index: 2;
    overflow: visible;


}
.navbar .navbar-inner{
    background:#4E6A81 url("../images/navbar.png") repeat-x;
    color:#FFFFFF;
    margin:0 auto;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
}


.navbar .top{

    height:95px;
    margin:0 auto;

}
.navbar .navbar-inner .top .sysmenu {
    float:right;
    padding-right:30px;
}
.navbar .navbar-inner .top .sysmenu{
    height:29px;
    line-height:29px;
}
.navbar .navbar-inner .sysmenu ul{
    margin-top:10px;
}
.navbar .navbar-inner .sysmenu li{
    background:url("../images/buttons.gif") no-repeat scroll -16px -80px transparent;
    display:block;
    float:left;
    height:32px;
    margin-left:5px;
    text-align:center;
    width:62px;
}
