.btn-group, .btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    float: left;
    position: relative;
}
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
    z-index: 2;
}
.btn-group > .btn:focus, .btn-group-vertical > .btn:focus {
    outline: 0 none;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}

.sepH_b {
    margin-bottom: 10px;
}

.btn {
    -moz-user-select: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
}
.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}
.btn-default {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #333333;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}
.btn-primary {
    background-color: #428BCA;
    border-color: #357EBD;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #3276B1;
    border-color: #285E8E;
    color: #FFFFFF;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #428BCA;
    border-color: #357EBD;
}
.btn-warning {
    background-color: #F0AD4E;
    border-color: #EEA236;
    color: #FFFFFF;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #ED9C28;
    border-color: #D58512;
    color: #FFFFFF;
}
.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active {
    background-color: #F0AD4E;
    border-color: #EEA236;
}
.btn-danger {
    background-color: #D9534F;
    border-color: #D43F3A;
    color: #FFFFFF;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #D2322D;
    border-color: #AC2925;
    color: #FFFFFF;
}
.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger.active {
    background-color: #D9534F;
    border-color: #D43F3A;
}
.btn-success {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #47A447;
    border-color: #398439;
    color: #FFFFFF;
}
.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}
.btn-info {
    background-color: #5BC0DE;
    border-color: #46B8DA;
    color: #FFFFFF;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #39B3D7;
    border-color: #269ABC;
    color: #FFFFFF;
}
.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active {
    background-color: #5BC0DE;
    border-color: #46B8DA;
}
.btn-link {
    border-radius: 0;
    color: #428BCA;
    cursor: pointer;
    font-weight: normal;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: rgba(0, 0, 0, 0);
}
.btn-link:hover, .btn-link:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #2A6496;
    text-decoration: underline;
}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
    color: #999999;
    text-decoration: none;
}
.btn-lg {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}
.btn-sm, .btn-xs {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
.btn-xs {
    padding: 1px 5px;
}
.btn-block {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.fade.in {
    opacity: 1;
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
.collapsing {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}
.glyphicon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
}
.glyphicon-asterisk:before {
    content: "*";
}
.glyphicon-plus:before {
    content: "+";
}
.glyphicon-euro:before {
    content: "€";
}
.glyphicon-minus:before {
    content: "−";
}
.glyphicon-cloud:before {
    content: "☁";
}
.glyphicon-envelope:before {
    content: "✉";
}
.glyphicon-pencil:before {
    content: "✏";
}
.glyphicon-glass:before {
    content: "";
}
.glyphicon-music:before {
    content: "";
}
.glyphicon-search:before {
    content: "";
}
.glyphicon-heart:before {
    content: "";
}
.glyphicon-star:before {
    content: "";
}
.glyphicon-star-empty:before {
    content: "";
}
.glyphicon-user:before {
    content: "";
}
.glyphicon-film:before {
    content: "";
}
.glyphicon-th-large:before {
    content: "";
}
.glyphicon-th:before {
    content: "";
}
.glyphicon-th-list:before {
    content: "";
}
.glyphicon-ok:before {
    content: "";
}
.glyphicon-remove:before {
    content: "";
}
.glyphicon-zoom-in:before {
    content: "";
}
.glyphicon-zoom-out:before {
    content: "";
}
.glyphicon-off:before {
    content: "";
}
.glyphicon-signal:before {
    content: "";
}
.glyphicon-cog:before {
    content: "";
}
.glyphicon-trash:before {
    content: "";
}
.glyphicon-home:before {
    content: "";
}
.glyphicon-file:before {
    content: "";
}
.glyphicon-time:before {
    content: "";
}
.glyphicon-road:before {
    content: "";
}
.glyphicon-download-alt:before {
    content: "";
}
.glyphicon-download:before {
    content: "";
}
.glyphicon-upload:before {
    content: "";
}
.glyphicon-inbox:before {
    content: "";
}
.glyphicon-play-circle:before {
    content: "";
}
.glyphicon-repeat:before {
    content: "";
}
.glyphicon-refresh:before {
    content: "";
}
.glyphicon-list-alt:before {
    content: "";
}
.glyphicon-flag:before {
    content: "";
}
.glyphicon-headphones:before {
    content: "";
}
.glyphicon-volume-off:before {
    content: "";
}
.glyphicon-volume-down:before {
    content: "";
}
.glyphicon-volume-up:before {
    content: "";
}
.glyphicon-qrcode:before {
    content: "";
}
.glyphicon-barcode:before {
    content: "";
}
.glyphicon-tag:before {
    content: "";
}
.glyphicon-tags:before {
    content: "";
}
.glyphicon-book:before {
    content: "";
}
.glyphicon-print:before {
    content: "";
}
.glyphicon-font:before {
    content: "";
}
.glyphicon-bold:before {
    content: "";
}
.glyphicon-italic:before {
    content: "";
}
.glyphicon-text-height:before {
    content: "";
}
.glyphicon-text-width:before {
    content: "";
}
.glyphicon-align-left:before {
    content: "";
}
.glyphicon-align-center:before {
    content: "";
}
.glyphicon-align-right:before {
    content: "";
}
.glyphicon-align-justify:before {
    content: "";
}
.glyphicon-list:before {
    content: "";
}
.glyphicon-indent-left:before {
    content: "";
}
.glyphicon-indent-right:before {
    content: "";
}
.glyphicon-facetime-video:before {
    content: "";
}
.glyphicon-picture:before {
    content: "";
}
.glyphicon-map-marker:before {
    content: "";
}
.glyphicon-adjust:before {
    content: "";
}
.glyphicon-tint:before {
    content: "";
}
.glyphicon-edit:before {
    content: "";
}
.glyphicon-share:before {
    content: "";
}
.glyphicon-check:before {
    content: "";
}
.glyphicon-move:before {
    content: "";
}
.glyphicon-step-backward:before {
    content: "";
}
.glyphicon-fast-backward:before {
    content: "";
}
.glyphicon-backward:before {
    content: "";
}
.glyphicon-play:before {
    content: "";
}
.glyphicon-pause:before {
    content: "";
}
.glyphicon-stop:before {
    content: "";
}
.glyphicon-forward:before {
    content: "";
}
.glyphicon-fast-forward:before {
    content: "";
}
.glyphicon-step-forward:before {
    content: "";
}
.glyphicon-eject:before {
    content: "";
}
.glyphicon-chevron-left:before {
    content: "";
}
.glyphicon-chevron-right:before {
    content: "";
}
.glyphicon-plus-sign:before {
    content: "";
}
.glyphicon-minus-sign:before {
    content: "";
}
.glyphicon-remove-sign:before {
    content: "";
}
.glyphicon-ok-sign:before {
    content: "";
}
.glyphicon-question-sign:before {
    content: "";
}
.glyphicon-info-sign:before {
    content: "";
}
.glyphicon-screenshot:before {
    content: "";
}
.glyphicon-remove-circle:before {
    content: "";
}
.glyphicon-ok-circle:before {
    content: "";
}
.glyphicon-ban-circle:before {
    content: "";
}
.glyphicon-arrow-left:before {
    content: "";
}
.glyphicon-arrow-right:before {
    content: "";
}
.glyphicon-arrow-up:before {
    content: "";
}
.glyphicon-arrow-down:before {
    content: "";
}
.glyphicon-share-alt:before {
    content: "";
}
.glyphicon-resize-full:before {
    content: "";
}
.glyphicon-resize-small:before {
    content: "";
}
.glyphicon-exclamation-sign:before {
    content: "";
}
.glyphicon-gift:before {
    content: "";
}
.glyphicon-leaf:before {
    content: "";
}
.glyphicon-eye-open:before {
    content: "";
}
.glyphicon-eye-close:before {
    content: "";
}
.glyphicon-warning-sign:before {
    content: "";
}
.glyphicon-plane:before {
    content: "";
}
.glyphicon-random:before {
    content: "";
}
.glyphicon-comment:before {
    content: "";
}
.glyphicon-magnet:before {
    content: "";
}
.glyphicon-chevron-up:before {
    content: "";
}
.glyphicon-chevron-down:before {
    content: "";
}
.glyphicon-retweet:before {
    content: "";
}
.glyphicon-shopping-cart:before {
    content: "";
}
.glyphicon-folder-close:before {
    content: "";
}
.glyphicon-folder-open:before {
    content: "";
}
.glyphicon-resize-vertical:before {
    content: "";
}
.glyphicon-resize-horizontal:before {
    content: "";
}
.glyphicon-hdd:before {
    content: "";
}
.glyphicon-bullhorn:before {
    content: "";
}
.glyphicon-certificate:before {
    content: "";
}
.glyphicon-thumbs-up:before {
    content: "";
}
.glyphicon-thumbs-down:before {
    content: "";
}
.glyphicon-hand-right:before {
    content: "";
}
.glyphicon-hand-left:before {
    content: "";
}
.glyphicon-hand-up:before {
    content: "";
}
.glyphicon-hand-down:before {
    content: "";
}
.glyphicon-circle-arrow-right:before {
    content: "";
}
.glyphicon-circle-arrow-left:before {
    content: "";
}
.glyphicon-circle-arrow-up:before {
    content: "";
}
.glyphicon-circle-arrow-down:before {
    content: "";
}
.glyphicon-globe:before {
    content: "";
}
.glyphicon-tasks:before {
    content: "";
}
.glyphicon-filter:before {
    content: "";
}
.glyphicon-fullscreen:before {
    content: "";
}
.glyphicon-dashboard:before {
    content: "";
}
.glyphicon-heart-empty:before {
    content: "";
}
.glyphicon-link:before {
    content: "";
}
.glyphicon-phone:before {
    content: "";
}
.glyphicon-usd:before {
    content: "";
}
.glyphicon-gbp:before {
    content: "";
}
.glyphicon-sort:before {
    content: "";
}
.glyphicon-sort-by-alphabet:before {
    content: "";
}
.glyphicon-sort-by-alphabet-alt:before {
    content: "";
}
.glyphicon-sort-by-order:before {
    content: "";
}
.glyphicon-sort-by-order-alt:before {
    content: "";
}
.glyphicon-sort-by-attributes:before {
    content: "";
}
.glyphicon-sort-by-attributes-alt:before {
    content: "";
}
.glyphicon-unchecked:before {
    content: "";
}
.glyphicon-expand:before {
    content: "";
}
.glyphicon-collapse-down:before {
    content: "";
}
.glyphicon-collapse-up:before {
    content: "";
}
.glyphicon-log-in:before {
    content: "";
}
.glyphicon-flash:before {
    content: "";
}
.glyphicon-log-out:before {
    content: "";
}
.glyphicon-new-window:before {
    content: "";
}
.glyphicon-record:before {
    content: "";
}
.glyphicon-save:before {
    content: "";
}
.glyphicon-open:before {
    content: "";
}
.glyphicon-saved:before {
    content: "";
}
.glyphicon-import:before {
    content: "";
}
.glyphicon-export:before {
    content: "";
}
.glyphicon-send:before {
    content: "";
}
.glyphicon-floppy-disk:before {
    content: "";
}
.glyphicon-floppy-saved:before {
    content: "";
}
.glyphicon-floppy-remove:before {
    content: "";
}
.glyphicon-floppy-save:before {
    content: "";
}
.glyphicon-floppy-open:before {
    content: "";
}
.glyphicon-credit-card:before {
    content: "";
}
.glyphicon-transfer:before {
    content: "";
}
.glyphicon-cutlery:before {
    content: "";
}
.glyphicon-header:before {
    content: "";
}
.glyphicon-compressed:before {
    content: "";
}
.glyphicon-earphone:before {
    content: "";
}
.glyphicon-phone-alt:before {
    content: "";
}
.glyphicon-tower:before {
    content: "";
}
.glyphicon-stats:before {
    content: "";
}
.glyphicon-sd-video:before {
    content: "";
}
.glyphicon-hd-video:before {
    content: "";
}
.glyphicon-subtitles:before {
    content: "";
}
.glyphicon-sound-stereo:before {
    content: "";
}
.glyphicon-sound-dolby:before {
    content: "";
}
.glyphicon-sound-5-1:before {
    content: "";
}
.glyphicon-sound-6-1:before {
    content: "";
}
.glyphicon-sound-7-1:before {
    content: "";
}
.glyphicon-copyright-mark:before {
    content: "";
}
.glyphicon-registration-mark:before {
    content: "";
}
.glyphicon-cloud-download:before {
    content: "";
}
.glyphicon-cloud-upload:before {
    content: "";
}
.glyphicon-tree-conifer:before {
    content: "";
}
.glyphicon-tree-deciduous:before {
    content: "";
}
.glyphicon-briefcase:before {
    content: "💼";
}
.glyphicon-calendar:before {
    content: "📅";
}
.glyphicon-pushpin:before {
    content: "📌";
}
.glyphicon-paperclip:before {
    content: "📎";
}
.glyphicon-camera:before {
    content: "📷";
}
.glyphicon-lock:before {
    content: "🔒";
}
.glyphicon-bell:before {
    content: "🔔";
}
.glyphicon-bookmark:before {
    content: "🔖";
}
.glyphicon-fire:before {
    content: "🔥";
}
.glyphicon-wrench:before {
    content: "🔧";
}
.caret {
    border-color: #000000 rgba(0, 0, 0, 0) -moz-use-text-color;
    border-style: solid solid dotted;
    border-width: 4px 4px 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}
.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0 none;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.dropdown-menu .divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
    text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999999;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    cursor: not-allowed;
    text-decoration: none;
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0 none;
}
.dropdown-header {
    color: #999999;
    display: block;
    font-size: 12px;
    line-height: 1.42857;
    padding: 3px 20px;
}
.dropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 990;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-bottom: 4px solid #000000;
    border-top: 0 dotted;
    content: "";
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: 100%;
    margin-bottom: 1px;
    top: auto;
}
@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
}
.btn-default .caret {
    border-top-color: #333333;
}
.btn-primary .caret, .btn-success .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret {
    border-top-color: #FFFFFF;
}
.dropup .btn-default .caret {
    border-bottom-color: #333333;
}
.dropup .btn-primary .caret, .dropup .btn-success .caret, .dropup .btn-warning .caret, .dropup .btn-danger .caret, .dropup .btn-info .caret {
    border-bottom-color: #FFFFFF;
}
.btn-group, .btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    float: left;
    position: relative;
}
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
    z-index: 2;
}
.btn-group > .btn:focus, .btn-group-vertical > .btn:focus {
    outline: 0 none;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table;
}
.btn-toolbar:after {
    clear: both;
}
.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table;
}
.btn-toolbar:after {
    clear: both;
}
.btn-toolbar .btn-group {
    float: left;
}
.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group, .btn-toolbar > .btn-group + .btn-group {
    margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group > .btn-group {
    float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.btn-group > .btn-group:first-child > .btn:last-child, .btn-group > .btn-group:first-child > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn-group:last-child > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline: 0 none;
}
.btn-group-xs > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn-group-sm > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
.btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}
.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}
.btn-group.open .dropdown-toggle {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn .caret {
    margin-left: 0;
}
.btn-lg .caret {
    border-width: 5px 5px 0;
}
.dropup .btn-lg .caret {
    border-width: 0 5px 5px;
}
.btn-group-vertical > .btn, .btn-group-vertical > .btn-group {
    display: block;
    float: none;
    max-width: 100%;
    width: 100%;
}
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}
.btn-group-vertical > .btn-group:after {
    clear: both;
}
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}
.btn-group-vertical > .btn-group:after {
    clear: both;
}
.btn-group-vertical > .btn-group > .btn {
    float: none;
}
.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group {
    margin-left: 0;
    margin-top: -1px;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 4px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.btn-group-vertical > .btn-group:first-child > .btn:last-child, .btn-group-vertical > .btn-group:first-child > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group-vertical > .btn-group:last-child > .btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-group-justified {
    border-collapse: separate;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.btn-group-justified .btn {
    display: table-cell;
    float: none;
    width: 1%;
}
[data-toggle="buttons"] > .btn > input[type="radio"], [data-toggle="buttons"] > .btn > input[type="checkbox"] {
    display: none;
}
button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}