.error{
    color: #C62626;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    margin-left: 10px;
}

input.error {
    /*background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #C62626;
    display: inline-block;
    font-size: 14px;
    height: 14px;
    line-height: 0;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 150px;*/
}
input.error:focus {
    border-color: #B94A48;

    box-shadow: 0 1px 1px rgba(216, 148, 147, 1) inset, 0 0 8px rgba(216, 148, 147, 1);
    outline: 0 none;
    color:#B94A48;
}
