.code_img{
    height:22px;
    width:60px;
    vertical-align:middle;
}
.txtCode
{
    line-height: 30px;
    width: 200px;
    height: 30px;
    overflow: hidden;
    border: 0px;
    padding-left: 3px;
    color: #999999;

}

.glyphicon-user:before{
    background-image: url(../images/user_.png);
}


.glyphicon-lock:before{
    background-image: url(../images/user_.png);
}
.login_page .login_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 0 auto 24px;
    position: relative;
    top: 50%;
    width: 400px;
}