<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.easysoft.jeap.core.member.entity.AdminUser" alias="AdminUser"/>
        <typeAlias type="com.easysoft.jeap.core.member.entity.Member" alias="Member"/>
        <typeAlias type="com.easysoft.jeap.core.member.entity.Menu" alias="Menu"/>
        <typeAlias type="com.easysoft.jeap.core.member.entity.Role" alias="Role"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.easysoft.jeap.framework.db.PageInterceptor">
            <property name="databaseType" value="mysql" />
        </plugin>
    </plugins>
    <mappers>

    </mappers>

</configuration>