<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easysoft.jeap.core.member.dao.IMenuDao">
    <resultMap id="menuMap" type="Menu">
        <id property="id" column="mbr_id"/>
        <id property="username" column="username"/>
        <id property="area" column="area"/>
    </resultMap>
    <select id="queryForAll" resultMap="menuMap">
        select * from t_menu
    </select>
    <select id="queryById" resultMap="menuMap">
        select * from t_menu where id=#{id}
    </select>
    <insert id="save" parameterType="Menu">
        insert t_menu (name,pid,url) values (#{name},#{pid},#{url})
    </insert>
    <update id="update" parameterType="Menu">
        UPDATE t_menu
        SET name = #{name},
        pid = #{pid},
        url = #{url}
        WHERE id = #{id}
    </update>
    <select id="queryMenusByPid" resultMap="menuMap">
        select * from t_menu where pid=#{pid}
    </select>
    <delete id="deleteById">
        delete from t_menu where id=#{id}
    </delete>
</mapper>
